*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
#hot-box{
  width: 1210px;
  height: 570px;
  margin: 0 auto;

}
#hot-box>#hot-title{
  width: 1210px;
  height: 60px;
}
#hot-box>#hot-title>i{
  background: url(../images/hotshop1.png);
  width: 36px;
  height: 36px;
  display: block;
  float: left;
  margin-top:12px;
}
#hot-box>#hot-title>h2,
#hot-box>#hot-title>b,
#hot-box>#hot-title>h6{
  float: left;
  line-height: 60px
}
#hot-box>#hot-title>span{
  float: right;
  line-height: 60px;
}
#hot-box>#hot-title>span>a{
  color: #666666;
}
#hot-crent-box{
  width: 1210px;
  margin: 0 auto;

}
#hot-crent{
  width: 240px;
  height: 310px;
  float: left;
  border: 1px solid #fff;
}
#hot-crent:hover{
  border: 1px solid red;
}
#hot-crent:hover img{
  transform: scale(1.3) ;
  transition: all 1.5s ease;
  /*border: 1px solid red;*/
}
#hot-crent>a>dl>dt,
#hot-crent>a>dl>dt>img{
  width: 240px;
  height: 170px;
overflow: hidden;
background-size:100%;
}
#hot-crent>a>dl>dd{
  font-size: 13px;
  color: #333333;
  height: 50px;
  margin: 6px 0 0 13px;
  line-height: 18px;

}
#hot-crent>a>dl>dd>i{
  display: block;
  width: 56px;
  height: 18px;
  background: url('../images/hotshop.png');
}
  #hot-crent>a>dl>dd>span{
    color: #999999;
    font-size: 11px;
  }
  #hot-crent>a>p{
    width: 216px;
    height: 15px;
    margin: 10px 13px;
  }
  #hot-crent>a>p>#hot-crent-price{
    float: left;
    color: #ee394b;
    font-size: 16px;
  }
  #hot-crent>a>p>#hot-crent-sell{
    float: right;
    font-size: 10px;
    color: #999999;
  }
