#order li {
    border: 1px solid orange;
}
#order li div.title {
    background-color: orangered;
    line-height: 30px;
    padding: 5px;
    border-bottom: 1px solid orange;
}
#order li div.order-goods {
    background-color: #fff;
}
#order li div.order-goods div{
    border-bottom: 1px solid orange;
}
#order li div.order-goods div img {
    width: 100px;
}
.cancel-order {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
.cancel-order:hover {
    background-color: white;
    color: orange;
}