*{
  margin: 0;
  padding: 0;
}

#reset-box{
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: red;
  position: fixed;
  right: 5%;
  bottom: 10%;
  border: 1px solid #c6c6c6;
}
#reset-box:hover{
  background-color: red;
  color: #fff;
}
#reset-box p{
  width: 40px;
  height: 20px;
  text-align: center;
}
